/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container{
  position: relative;
  min-height: 100vh;
  min-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 20px;
}

.container .search-box{
  position: relative;
  height: 42px;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: #323334;
  padding: 0 15px 0 45px;
  color: #fff;
  border-radius: 6px;
}



#filter-buttons{
  margin-right: 50px;
}

#filter-buttons button {
  border-radius:5px;
  background: #fff;
  border: 2px solid black;
  padding: 5px 10px;
}

#filter-buttons button:hover {
  background: #ddd;
}

#filter-buttons button.active {
  color: #fff;
  background: #6c757d;
}

#filterable-cards .image-box.hide {
  display: none;
}



.search-box i{
  position: absolute;
  z-index: 2;
  color: #999;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.container .images .image-box{
  position: relative;
  height: 300px;
  width: 300px; 
  border-radius: 6px;
  overflow: hidden;
}

.images{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.images .image-box{
  margin: 8px;
}

.images .image-box img{
  height: 100%;
  width: 100%;
  border-radius: 6px;
  transition: transform 0.2s linear;
  overflow: hidden;
}

.image-box:hover img{
  transform: scale(1.05);
}

.images .image-box h6{
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: green;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

